<a class="help" id="torna-primo" href="#contenuto">Torna su</a>
<footer>
    <dl>
        <dt> Chiamaci: </dt>
        <dd><a href="tel:+390423123456">0423123456</a> </dd>
        <dt> <span lang="en">Scrivici: </span> </dt>
        <dd> <a href="mailto:Biblioteca@biblioteca.it">info@bibliotecaluzzatti.it</a> </dd>
        <!--<dt> Dove siamo: </dt>
        <dd> Via Luigi Luzzatti</dd> -->
    </dl>

    <div>
        <p><strong><span lang="en">Social</span></strong>:</p>
        <ul id="social">
            <li><a id="instagram" href="https://www.instagram.com/">Instagram</a></li>
            <li><a id ="facebook" href="https://www.facebook.com/">Facebook</a></li>
        </ul>
    </div>

    <!--<section aria-labelledby="mappa-label" class="mappa-footer">
        <p id="mappa-label">Dove siamo:</p>
        <p>Visualizza la posizione della biblioteca su Google Maps.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.0401697065163!2d11.884899376825365!3d45.40852953715078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eda5877111a37%3A0xd24e4b8965422d7!2sVia%20Luigi%20Luzzatti%2C%2035121%20Padova%20PD!5e0!3m2!1sit!2sit!4v1750014293405!5m2!1sit!2sit"
            width="500" 
            height="100" 
            style="border:0;" 
            allowfullscreen="" 
            referrerpolicy="no-referrer-when-downgrade"
            title="Mappa interattiva della Biblioteca Luigi Luzzatti a Via Luigi Luzzatti, Padova">
        </iframe>
    </section>-->

    <p id="tabella" class="nascosto">La tabella contiene gli orari di apertura della biblioteca</p>
    <table id="orari" aria-describedby="tabella">
        <caption>Orari della biblioteca</caption>
        <thead>
            <tr class="table-head">
                <td></td>
                <th scope="col" abbr="Apre">Apertura</th>
                <th scope="col" abbr="Chiude">Chiusura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" abbr="Lun - Ven">Lunedì - Venerdì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>
            </tr>
            <tr>
                <th scope="row" abbr="Sab">Sabato</th>
                <td><time datetime="09:00">12:00</time></td>
                <td><time datetime="18:00">17:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Mer">Domenica</th>
                <td>Chiuso</td>
                <td>Chiuso</td>                
            </tr>
        </tbody>
    </table>
</footer>
<script src="val_reg.js"></script>
</body>
</html>