<footer>
    <dl>
        <dt> Chiamaci: </dt>
        <dd><a href="tel:+390423123456">0423123456</a> </dd>
        <dt> <span lang="en">Scrivici: </span> </dt>
        <dd> <a href="mailto:Biblioteca@biblioteca.it">info@bibliotecaluzzatti.it</a> </dd>
        <dt> Dove siamo: </dt>
        <dd> <a href="https://maps.app.goo.gl">Via Luigi Luzzatti</a></dd>
    </dl>

    <p id="tabella" class="nascosto">La tabella contiene gli orari di apertura della biblioteca</p>
    <table id="orari" aria-describedby="tabella">
        <caption>Orari della biblioteca</caption>
        <thead>
            <tr>
                <td></td>
                <th scope="col" abbr="Apre">Apertura</th>
                <th scope="col" abbr="Chiude">Chiusura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" abbr="Mer">Lunedì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>
            </tr>
            <tr>
                <th scope="row" abbr="Mer">Martedì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Mer">Mercoledì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Gio">Giovedì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Ven">Venerdì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Sab">Sabato</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Dom">Domenica</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>               
            </tr>
        </tbody>
    </table>
</footer>
</body>
</html>