<a class="help" id="torna-primo" href="#contenuto">Torna su</a>
<footer>
    <dl>
        <dt> Chiamaci: </dt>
        <dd><a href="tel:+390423123456">0423123456</a> </dd>
        <dt> <span lang="en">Scrivici: </span> </dt>
        <dd> <a href="mailto:info@bibliotecaluzzatti.it">info@bibliotecaluzzatti.it</a> </dd>
    </dl>

    <div>
        <p><strong><span lang="en">Social</span></strong>:</p>
        <ul id="social">
            <li><a id="instagram" href="https://www.instagram.com/">Instagram</a></li>
            <li><a id ="facebook" href="https://www.facebook.com/">Facebook</a></li>
        </ul>
    </div>

    <p id="tabella" class="nascosto">La tabella contiene gli orari di apertura della biblioteca</p>
    <table class="orari" aria-describedby="tabella">
        <caption>Orari della biblioteca</caption>
        <thead>
            <tr class="table-head">
                <td></td>
                <th scope="col" abbr="Apre">Apertura</th>
                <th scope="col" abbr="Chiude">Chiusura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" abbr="Lun - Ven">Lunedì - Venerdì</th>
                <td><time datetime="09:00">09:00</time></td>
                <td><time datetime="18:00">18:00</time></td>
            </tr>
            <tr>
                <th scope="row" abbr="Sab">Sabato</th>
                <td><time datetime="09:00">12:00</time></td>
                <td><time datetime="18:00">17:00</time></td>                
            </tr>
            <tr>
                <th scope="row" abbr="Mer">Domenica</th>
                <td>Chiuso</td>
                <td>Chiuso</td>                
            </tr>
        </tbody>
    </table>
</footer>
<script src="val_reg.js"></script>
</body>
</html>